.privacybanner-section{
    height: 10%;
    width: 100%;
}

.privacybannerimg{
    width: 100%;
	height: 450px;
}

p, ul{
    color: #000000 !important;
	font-size: 20px;
}
b{
    color: #504f51 !important;
}